<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
         <span class="social-link">
           <a href="https://www.strava.com/athletes/26254810" title="Strava" target="_blank" rel="noopener">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
               <path d="M158.4 0L7 292h89.2l62.2-116.1L220.1 292h88.5zm150.2 292l-43.9 88.2-44.6-88.2h-67.6l112.2 220 111.5-220z">
               </path>
             </svg>
           </a>
         </span>
      </div>
      <div class="footer-col">
        <p class="github-subscribe">
          <a href="{{ default: 'https://github.com/cmarsone' | absolute_url }}">
            <svg class="svg-icon grey">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg><span>GitHub</span>
          </a>
        </p>
      </div>
      <div class="footer-col">
        <p class="linkedin-subscribe">
          <a href="{{ default: 'https://fr.linkedin.com/in/clement-marsone' | absolute_url }}">
            <svg class="svg-icon blue">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg><span>LinkedIn</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
